<div id="dish">
  <p> <b> Chef:</b> <%= @dish.chef.name %> </p>
  <p> <b> Dish:</b> <%= "#{@dish.name}" %> </p>
  <p> <b> Description: </b> <%= "#{@dish.description}" %> </p>
</div>

<div id="ingredients">
  <h4> Ingredients: </h4>

  <ul>
    <% @dish_ingredients.each do |ingredient| %>
      <li> <%= "#{ingredient.name}" %> </li>
    <% end %>
  </ul>

  <p> <b> Calories: </b> <%= "#{@dish.total_calories}" %> </p>
</div>





<div id="add-ingredient-form">
  <%= form_with(url: "/dishes/#{@dish.id}/add_ingredient", method: "post") do |form| %>
    <label for="ingredient_id">Add Ingredient:</label>
      <select name="ingredient_id" id="ingredient_id">
        <% Ingredient.all.each do |ingredient| %>
          <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
        <% end %>
      </select>
    <%= form.submit "Add Ingredient" %>
  <% end %> 
</div>